<table class="table table-borderless table-sm">
    <thead>
      <tr>
        <th style="text-align: center" scope="col">Order ID</th>
        <th style="text-align: center" scope="col">ORDER NAME</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr>
        <td style="text-align: center">1</td>
        <td style="text-align: center">COFFEE
        <td>
      </tr>
      <tr>
        <td style="text-align: center">2</td>
        <td style="text-align: center">TEA
        <td>
      </tr>
      <tr>
        <td style="text-align: center">3</td>
        <td style="text-align: center">RAMEN
        <td>
      </tr>
      <tr>
        <td style="text-align: center">4</td>
        <td style="text-align: center">WAFFLE
        <td>
      </tr>
      <tr>
        <td style="text-align: center">5</td>
        <td style="text-align: center">DOSA
        <td>
      </tr>
      <tr>
        <td style="text-align: center">6</td>
        <td style="text-align: center">PANCAKE
        <td>
      </tr>
      <tr>
        <td style="text-align: center">7</td>
        <td style="text-align: center">MOMO
        <td>
      </tr>
      <tr>
        <td style="text-align: center">8</td>
        <td style="text-align: center">CHOLE BHATURE
        <td>
      </tr>
    </tbody>
  </table>





<form method="POST" action="">
    Table No. <input type="number" name="table_no"/>
    <br>
    Order No. <input type="number" name="order_no"/>
    <br>
    Order ID <input type="number" name="order_id"/>
    <br>
    <input type="submit">
</form>
<p>my name is Jayant</p>